body{
    background-color: rgb(250, 241, 231);
}
.item1{
    grid-area: header;
    font-size: 6rem;
    margin:0;
}
.item2{
    grid-area: date;
    font-size: 1.5rem;
    margin: 0;
}
.item3{
    grid-area: clock;
    font-size: 4rem;
    margin: 0;
}
.grid-container{
    display:grid;
    margin:5%;
    grid-template-areas: '. header .'
                        '. date .'
                        '. clock .';
    padding:1px;
    background-color: bisque;
}


.grid-item{
    text-align:center;
}